In [2]:
#Assign a list to an variable named my_list
my_list=[1,2,3]

In [4]:
my_list=['A string',25,100.23,'d']

In [5]:
len(my_list)

4

In [6]:
my_list=['one','two','three',4,5]

In [7]:
#Grab element at index 0
my_list[0]

'one'

In [8]:
#grab element and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [9]:
#Grab everthing up to index 3
my_list[:3]

['one', 'two', 'three']

In [10]:
my_list+['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [11]:
my_list

['one', 'two', 'three', 4, 5]

In [17]:
#Reassign
my_list=my_list+['add new item permanently']

In [13]:
my_list

['one', 'two', 'three', 4, 5]

In [18]:
#Make the list double
my_list*2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [19]:
#Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [39]:
#Create new list
list1=[1,2,3]

In [40]:
#Append
list1.append('append me!')

In [41]:
#Show
list1

[1, 2, 3, 'append me!']

In [42]:
#Pop off 0 indexed item
list1.pop(0)

1

In [43]:
#Show list1
list1

[2, 3, 'append me!']

In [44]:
#Assign the popped element,remember default popped index is-1
popped_item=list1.pop()

In [45]:
popped_item

'append me!'

In [46]:
#Show remaining list
list1

[2, 3]

In [48]:
list1[100]

IndexError: list index out of range

In [49]:
new_list=['a','e','x','b','c']

In [50]:
#Show 
new_list

['a', 'e', 'x', 'b', 'c']

In [51]:
#Use reverse to reverse order(this is not permanent!)
new_list.reverse()

In [52]:
new_list

['c', 'b', 'x', 'e', 'a']

In [53]:
#use sort to sort the list
new_list.sort()

In [54]:
new_list

['a', 'b', 'c', 'e', 'x']

In [55]:
#Lets make three list
list_1=[1,2,3]
list_2=[4,5,6]
list_3=[7,8,9]
#Make list of lists to form a matrix
matrix=[list_1,list_2,list_3]

In [56]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [57]:
#Grab first item in matrix
matrix[0]

[1, 2, 3]

In [58]:
#Grab first item of the first item in matrix object
matrix[0][0]

1

In [60]:
matrix[1][2]

6

In [61]:
#Build a list comprehension by deconstructing a for loop within a []
first_col=[row[0]for row in matrix]

In [62]:
first_col

[1, 4, 7]

In [63]:
#Make  a dictionary with {}and:to signify a key and a value
my_dict={'key1':'value1','key2':'value2'}

In [64]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [65]:
my_dict['key2']

'value2'

In [67]:
my_dict={'key1':123,'key2':[12,22,33],'key3':['item1','item2','item3']}

In [68]:
my_dict['key3']

['item1', 'item2', 'item3']

In [69]:
my_dict['key3'][0]

'item1'

In [70]:
my_dict['key3'][0].upper()

'ITEM1'

In [71]:
my_dict['key1']

123

In [72]:
#Subtract 123 from the value
my_dict['key1']=my_dict['key1']-123

In [74]:
my_dict['key1']

0

In [75]:
#Set the object equal to itself minus 123
my_dict['key1']-=123
my_dict['key1']

-123

In [77]:
#Create a new dictionary
d={}

In [78]:
d['Animal']='Dog'

In [79]:
d['answer']='42'

In [80]:
d

{'Animal': 'Dog', 'answer': '42'}

In [81]:
d={'key1':1,'key2':2,'key3':3}

In [1]:
#dictionary nested inside dictionary
d={'key1':{'nestkey':{'subnestkey':'value'}}}

In [3]:
#keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

In [6]:
#Create a typical dictionary
d={'key1':1,'key2':2,'key3':3}

d.keys

In [7]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [8]:
d.values()

dict_values([1, 2, 3])

In [10]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [11]:
#Create a tupple
t=(1,2,3)

In [12]:
len(t)

3

In [13]:
t=('one',2)

In [14]:
t

('one', 2)

In [15]:
t[0]

'one'

In [16]:
t[1]

2

In [17]:
t[-1]

2

In [18]:
t.index('one')

0

In [20]:
t.count('one')

1

In [22]:
t[0]='change'

TypeError: 'tuple' object does not support item assignment

In [23]:
t.aapend('nope')

AttributeError: 'tuple' object has no attribute 'aapend'

In [25]:
x=set()

In [26]:
x.add(1)

In [27]:
x

{1}

In [28]:
x.add(2)

In [29]:
x

{1, 2}

In [30]:
x.add(1)

In [31]:
x

{1, 2}

In [10]:
list1=(1,1,2,2,3,4,5,6,1,1)

In [9]:
lst=(1,2,3)

In [2]:
set(list1)

{1, 2, 3, 4, 5, 6}

In [3]:
a=True

In [4]:
a

True

In [5]:
1>2

False

In [8]:
b=None
print(b)

None