In [1]:
squares=[1,4,9,16,25]

In [2]:
print(squares)

[1, 4, 9, 16, 25]

In [3]:
squares[0]

1

In [4]:
squares[-1]

25

In [5]:
squares[-3:]

[9, 16, 25]

In [6]:
squares[:]

[1, 4, 9, 16, 25]

In [7]:
squares+[36,49,64,81,100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
cubes=[1,8,27,64,125]

In [9]:
4**3

64

In [10]:
cubes[3]

64

In [11]:
cubes

[1, 8, 27, 64, 125]

In [12]:
cubes.append(216)

In [13]:
cubes.append(7**3)

In [14]:
cubes

[1, 8, 27, 64, 125, 216, 343]

In [15]:
letters=['a','b','c','d','e','f','g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [16]:
letters[2:5]=['C','D','E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [17]:
letters[2:5]=[]
letters

['a', 'b', 'f', 'g']

In [18]:
letters[:]=[]
letters

[]

In [19]:
letters=['a','b','c','d']
len(letters)

4

In [20]:
edward=['Edward Gumby',42]
john=['John Smith',50]
database=[edward,john]
database

[['Edward Gumby', 42], ['John Smith', 50]]

In [22]:
a=['a','b','c',]
n=[1,2,3]
x=[a,n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [23]:
x[0]

['a', 'b', 'c']

In [24]:
x[0][1]

'b'

In [28]:
months=['January','February','March','April','May','June','July','August','September','October','November','December']

In [31]:
endings=['st','nd','rd'] + 17 * ['th'] + ['st','nd','rd'] + 7 * ['th'] +[ 'st']

In [61]:
day=input('Day(1-31):')

Day(1-31):16

In [69]:
month=input('Month(1-12):')

Month(1-12):August

In [62]:
year=input('Year:')

Year:1974

In [75]:
month_name = str(month)

In [42]:
day_number=int(day)

In [77]:
month_name=months[month_number-1]
ordinal=day+endings[day_number-1]
print('month_name',''+ordinal+','+year)

month_name 16th,1974

In [79]:
numbers=[100,34,678]

In [80]:
len(numbers)

3

In [81]:
max(numbers)

678

In [82]:
min(numbers)

34

In [83]:
max(2,3)

3

In [84]:
min(9,3,2,5)

2

In [85]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [86]:
x=[1,1,1]

In [89]:
x[1]=2

In [91]:
x

[1, 2, 1]

In [92]:
names=['Alice','Beth','Cecil','dee-dee','Earl']

In [93]:
del names[2]

In [94]:
names

['Alice', 'Beth', 'dee-dee', 'Earl']

In [95]:
name=list('Perl')

In [96]:
name

['P', 'e', 'r', 'l']

In [98]:
name[2:]=list('ar')

In [99]:
name

['P', 'e', 'a', 'r']

In [100]:
name=list('Perl')
name[1:]=list('ython')
name

['P', 'y', 't', 'h', 'o', 'n']

In [101]:
numbers=[1,5]

In [102]:
numbers[1:1]=[2,3,4]
numbers

[1, 2, 3, 4, 5]

In [103]:
numbers

[1, 2, 3, 4, 5]

In [104]:
numbers[1:4]=[]

In [105]:
numbers

[1, 5]